<div class="content">
    <h3>First tab content</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis justo consectetur, porta orci luctus, aliquet urna. Pellentesque vel augue at massa porttitor gravida sed quis eros. Phasellus mauris erat, accumsan vitae elit ut, molestie hendrerit lectus. Etiam diam lectus, porttitor quis nisl ac, mollis iaculis eros. Fusce a vehicula ligula, in fermentum mauris. Mauris convallis mauris in mauris fringilla elementum. Phasellus sollicitudin condimentum convallis.
</div>

<p></p>

<div class="content">
    <h5>Parameter foo</h5>
    <pre>{{ vm.foo }}</pre>
</div>
