<footer>
    <div class="column">
        <h4>
            First main footer section
        </h4>
        <ul>
            <li>
                <a ui-sref="authenticated">Authenticated</a>
            </li>
            <li>
                <a ui-sref="authenticated">Authenticated</a>
            </li>
            <li>
                <a ui-sref="authenticated">Authenticated</a>
            </li>
        </ul>
    </div>
    <div class="column">
        <h4>
            Second main footer section
        </h4>
        <ul>
            <li>
                <a ui-sref="logout">Logout</a>
            </li>
        </ul>
    </div>
    <div class="column">
        <h4>
            Third main footer section
        </h4>
        <a href="/">
            Company Logo
        </a>
    </div>
</footer>
