<div class="content">
    <h3>Second Tab Content</h3>
    Fusce ac purus at massa varius facilisis in ac sapien. Aenean et metus diam. Sed efficitur nisl dui, nec posuere erat porta eu. Aenean feugiat risus non mi sagittis, in porta purus porttitor. Vivamus efficitur porttitor nisi nec tristique. Pellentesque imperdiet, dolor et pulvinar consectetur, dui odio iaculis lectus, at tempor lorem lorem a nunc. Morbi pulvinar elit id orci elementum bibendum. Nulla augue diam, pretium vel viverra quis, dapibus sed metus. Sed elit enim, feugiat vitae mauris nec, fermentum suscipit tortor. In vehicula, sem nec accumsan interdum, ligula ex scelerisque turpis, eu lobortis quam turpis in leo. Nullam aliquam, tortor et scelerisque ornare, leo quam interdum turpis, vel aliquam nisi massa sed odio. Proin nunc orci, molestie blandit ornare eget, fringilla vel nisl.
</div>

<p></p>

<div class="content">
    <h5>Parameter bar</h5>
    <pre>{{ vm.bar }}</pre>
</div>
