body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    background-color: #FF8800;
    color: #FFF;
    height: 50px;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover, a:visited {
    color: inherit;
}

.logo,
.loginSection {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 49.5%;
}

.loginSection {
    text-align: right;
}

.sidebar,
.container {
    display: inline-block;
    margin-top: 50px;
    vertical-align: top;
}

.sidebar {
    cursor: pointer;
    width: 29.5%;
}

.container {
    width: 69.5%;
}

.active {
    cursor: default;
    font-weight: bold;
}

.tabHeaders {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.tabHeader {
    display: inline-block;
}

.tabHeader a {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px;
}

.tabHeader .active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid white;
    color: #FF8800;
    cursor: default;
    font-weight: normal;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #000;
    color: #FFF;
    width: 100%;
}

footer div {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}